/* Establece el border box para no perder la medida deseada*/
html { 
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10 px */
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: "Nunito", sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales*/
h1, h2, h3{
    margin: 0 0 5rem 0;
}

a{
    color: #fff;
    text-decoration: none;
    transition: color .2s ease-out;
}

a:hover{
    color:#2929cc;
}

img{
    max-width: 100%;
    display: block; /* Utilizado para no dejar separación entre las imágenes y los elementos*/
}

.text-center{
    text-align: center;
}

.container{
    max-width: 140rem;
    margin: 0 auto;
}


/* Barra de navegación*/
.barra-nav{
    background-color: #5d30b8;
}

.barra-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 50rem;
}

.logo img{
    height: 7.5rem;
    object-fit: cover;
}

.navegacion-principal{
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
}


/* Footer */
footer{
    background-color: #8c52ff;
    color: #fff;
    padding: 4rem 0;
}

.footer-sitio{
    margin-top: 4rem;
}

.footer-sitio h3{
    margin-bottom: .5rem;
}


.footer-grid{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    border-bottom: .1rem #e1e1e1 solid ;
    padding-bottom: 4rem ;    
}

.info-empresa{
    display: flex;
    flex-direction: column;
    max-width: 40rem;
}

.nombre-empresa{
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.nombre-empresa img{
    height: 3.5rem;
    object-fit: cover;
}

.logos-redes-sociales{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.recomendacion{
    font-weight: 900;
    font-size: 2.2rem;
}

.footer-menu a{
    display: block;
}
.footer-contacto p{
    margin: 0 0 .5rem 0;
}

.copyright{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.powered{
    display: flex;
    justify-content: flex-end;
}

.item-info{
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.item-info img{
    height: 3.1rem;
    object-fit: cover;
}